* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 1rem 2rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.tops {
  position: fixed;
  top: 4.5rem;
  z-index: 10;
  min-width: 100vw;
  animation: fade-away 1s 6s forwards;
}

@keyframes fade-away {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

.alert {
  font-family: system-ui;
  letter-spacing: 1px;
  font-size: 15px;
  padding: 1rem;
  margin-bottom: 0.1rem;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
