@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bgcolor: white;
  --sec-bgcolor: whitesmoke;
  --highlight-bgcolor: #ff6900;
  --header-font: "Raleway", sans-serif;
  --paragraph-font: "Montserrat", sans-serif;
  --links-font: "Quicksand", sans-serif;
  --special-font: "Euphoria Script", cursive;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-family: var(--header-font);
}

h4 {
  font-family: var(--links-font);
}

p,
a {
  font-family: var(--paragraph-font);
}

a {
  text-decoration: none;
  color: var(--highlight-bgcolor);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bgcolor);
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  z-index: 10;
  min-width: 100vw;
}

#logo {
  font-family: var(--special-font);
  color: var(--highlight-bgcolor);
}

.links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.tops {
  position: fixed;
  bottom: 0;
  z-index: 10;
  min-width: 100vw;
  animation: fade-away 1s 6s forwards;
}

@keyframes fade-away {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

.alert {
  font-family: system-ui;
  letter-spacing: 1px;
  font-size: 15px;
  padding: 1rem;
  margin-top: 0.1rem;
}

.alert-success {
  color: #3c763d;
  background-color: #7ae94e;
  border-color: #d6e9c6;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #f2dede;
  background-color: #a42220;
  border-color: #a42220;
}
