{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/buses.css') }}">
{% endblock %}

{% block title %}
Available Buses
{% endblock %}

{% block body %}
<div class="container">
  {% for bus in buses %}
  <a href="{{ url_for('select_bus', bus_id=bus.id) }}">
    <div class="bus">
      <p>From: <b>{{ route.route_from }}</b> - to: <b>{{ route.route_to }}</b></p>
      <p>Bus: <b>#{{ bus.reg_no }}</b></p>
      <p>Bus ID: <b>{{ bus.bus_identifier }}</b></p>
      <span>Amount: {{ "Ksh {:,}".format(route.price) }}</span>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}